/* HTML Elements */

body {
    background-image: url("../assets/art/third-party/midnight-clouds/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #19265d;
    image-rendering: pixelated;
}

figcaption {
    color: #4e79bf;
}

hr {
    height: 0.5em;
    color: #4e79bf;
    background-color: #4e79bf;
    margin: auto auto 3em auto;
    width: 75%;
}