/* CSS Classes */
.button img {
    width: 15em;
    height: 7em;
    margin: 2em;
}

/* HTML Elements */

body {
    background-image: url("../assets/art/third-party/midnight-clouds/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #19265d;
    image-rendering: pixelated;
}

figcaption {
    color: #4e79bf;
}